body {
  margin: 0;
  background-color: rgba(226, 221, 219, 0.551);
}
.main-area {
  margin: 20px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  align-items: center;
  background-color: white;
  border-radius: 2%;
}
.input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto;

}

table, th,td,tr{
  border: 1px solid black;
  padding: 5px 30px;
  display: flexbox;
  justify-content: center;
  align-items: center;
  margin: 40px auto;

}
label{
  font-size: 18px;
  padding: 10px;
}
button{
  padding: 10px 20px;
  margin-top: 20px;
  background-color: blue;
  color: white;
  cursor: pointer;
  border-radius: 2px;
  
  font-size: 18px;
  float: right;
}
button:hover{
  background-color: rgb(15, 241, 79);
}
input{
  padding: 10px;
  margin: 10px;
}
.smallbtn{
  padding: 5px;
  background-color: blue;
  color: white;
  display: inline;
  margin: 5px;
  border: none;
}
.table-section{
  
  margin: 20px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  align-items: center;
  background-color: white;
  border-radius: 2%;
}
